arrow==1.4.0
certifi==2025.11.12
charset-normalizer==3.4.4
fastkml==1.4.0
idna==3.11
lxml==6.0.2
pygeoif==1.6.0
pyTelegramBotAPI==4.29.1
python-dateutil==2.9.0.post0
requests==2.32.5
six==1.17.0
typing_extensions==4.15.0
tzdata==2025.2
urllib3==2.6.2
